<p class="footer-entry"><%if(theme.bottom_text){%><%=theme.bottom_text%><%} else {%>©2017 <%=config.author%><%}%></p>
<p class="footer-entry"><a href="http://www.beian.miit.gov.cn/"  style="color:#f72b07" target="_blank">皖ICP备14017199号</a></p>
